<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Słownik Języka Polskiego</title>
		{% load static %}
		<script src="{% static "dictionary/index.js" %}" charset="utf-8"></script>
	</head>
	<body>
		<h3>Słownik Języka Polskiego</h3>
		<form action="" method="" accept-charset="utf-8">
			<input type="text" value="" name="prefix" id="prefix"/>
			<input type="submit" value="Wprowadź" name="submit" id="submit"/>
		</form>
	</body>
</html>
